@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1>Sample Film Review</h1>
    <p class="lead">Available Films are amongst the best films in Hollywood.</p>
    <p><a href="~/ClsFilms" class="btn btn-primary btn-success">See Available Films Here &raquo;</a></p>
    <p class="text-center"><img src="~/Images/Avengers.jpg" class="img-rounded" width="280" height="240" /></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Available films can be rated and reviewed here.
        </p>
        <p><a class="btn btn-primary btn-success" href="~/Reviews/Create">Provide your Reviews Here &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Reviewed Films</h2>
        <p>You can view all reviewed films here.</p>
        <p><a class="btn btn-primary btn-success" href="~/Reviews">See Reviews &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>See more Recent Films</h2>
        <p>More recently released films can be viewed here.</p>
        <p><a class="btn btn-primary btn-success" href="https://www.myvue.com/latest-movies">Learn more &raquo;</a></p>
    </div>

</div>